<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>

	<link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<script src="~/Content/bootstrap/js/bootstrap.bundle.min.js"></script><link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	@Styles.Render("~/Content/bootstrap/css")
	@Scripts.Render("~/Content/bootstrap/js")
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<style>
		body {
			height: 100vh;
			margin: 0;
			padding: 0;
			overflow: hidden;
		}
	</style>

</head>
<body>

	<div class="container-fluid d-flex p-0 m-0 h-100">
		<div class="d-flex text-white flex-column flex-shrink-0 p-3" style="background-color: antiquewhite; width: 280px">
			<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
				<span class="fs-4">BATOCOM SHOP</span>
			</a>
			<hr>
			<ul class="nav nav-pills flex-column mb-auto">
				<li class="nav-item">
					<a href="/Home/Index" class="nav-link link-dark" aria-current="page">
						<i class="bi bi-speedometer2"></i>
						Trang chủ
					</a>
				</li>
				<li class="nav-item">
					<a href="/Books" class="nav-link link-dark">
						<i class="bi bi-book"></i>
						Sách
					</a>
				</li>
				<li class="nav-item">
					<a href="/Rentals" class="nav-link link-dark">
						<i class="bi bi-receipt"></i>
						Phiếu thuê
					</a>
				</li>
				<li class="nav-item">
					<a href="/Customers" class="nav-link link-dark">
						<i class="bi bi-person"></i>
						Khách hàng
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link link-dark">
						<i class="bi bi-person-circle"></i>
						Nhân viên
					</a>
				</li>
				<li class="nav-item">
					<a href="/Report/Index" class="nav-link link-dark">
						<i class="bi bi-graph-up-arrow"></i>
						Thống kê
					</a>
				</li>
				<li class="nav-item">
					<a href="@Url.Action("Logout", "Account")" class="text-white text-decoration-none btn btn-success">
						Đăng xuất
					</a>
				</li>
			</ul>
			<hr>
		</div>		
		<!--container-->
		<div class="container p-0">
			<nav class="navbar navbar-expand navbar-light bg-white topbar mb-0 sticky-top shadow p-3 d-flex justify-content-between">
				<!-- Sidebar Toggle (Topbar) -->
				<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
					<i class="fa fa-bars"></i>
				</button>
				<!-- Topbar Search -->
				<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
					<div class="input-group">
						<input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
						<div class="input-group-append">
							<button class="btn btn-success" type="button">
								<i class="fas fa-search fa-sm"></i>
							</button>
						</div>
					</div>
				</form>
				<!-- Topbar Navbar -->
				<ul class="navbar-nav ml-auto">
					<!-- Nav Item - User Information -->
					<li class="nav-item dropdown no-arrow">
						<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
							<img class="img-profile rounded-circle" src="https://lh3.googleusercontent.com/a/ACg8ocJzEbOawEY0fouWnCisMn7FLB_u2Dbqdd88qC4Ykq5fumwPsWhC=s360-c-no" style="height: 25px;">
						</a>
						<!-- Dropdown - User Information -->
						<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
							<a class="dropdown-item" href="#">
								<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
								Profile
							</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
								<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
								Logout
							</a>
						</div>
					</li>
				</ul>
			</nav>
			<div class="content p-3 h-100 overflow-auto">
				@if (Session["UserEmail"] != null)
				{
					@RenderBody();
				}
				else
				{
					Response.Redirect(Url.Action("Login", "Account"));

				}
			</div>
		</div>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)

</body>
</html>
