﻿@model qltv.Models.Book

@{
	ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
	<h4>Book</h4>
	<hr />

	<div class="content">

		<div class="content">
			<div class="container">
				<div class="row">
					<div class="col-sm-5">
						@Html.HiddenFor(model => model.IMG)

						<dd>
							@if (Model.IMG != null && Model.IMG.Length > 0)
							{
								<img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.IMG)" alt="Book Image" style="max-width:200px;" />
							}
						</dd>
					</div>
					<div class="col-sm-4">
						<div class="row">
							<div class="col-8 col-sm-6">
								<dt>
									@Html.DisplayNameFor(model => model.Title)
								</dt>

								<dd>
									@Html.DisplayFor(model => model.Title)
								</dd>

								<dt>
									@Html.DisplayNameFor(model => model.Price)
								</dt>

								<dd>
									@Html.DisplayFor(model => model.Price)
								</dd>

								<dt>
									@Html.DisplayNameFor(model => model.Available)
								</dt>

								<dd>
									@Html.DisplayFor(model => model.Available)
								</dd>

								<dt>
									@Html.DisplayNameFor(model => model.BookStatus)
								</dt>

								<dd>
									@Html.DisplayFor(model => model.BookStatus)
								</dd>


							</div>
							<div class="col-8 col-sm-6">
								<dt>
									@Html.DisplayNameFor(model => model.Publish)
								</dt>

								<dd>
									@Html.DisplayFor(model => model.Publish)
								</dd>



								<dt>
									@Html.DisplayNameFor(model => model.Author1.AuthorName)
								</dt>

								<dd>
									@Html.DisplayFor(model => model.Author1.AuthorName)
								</dd>

								<dt>
									@Html.DisplayNameFor(model => model.Genre.GenreName)
								</dt>

								<dd>
									@Html.DisplayFor(model => model.Genre.GenreName)
								</dd>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()
		<div class="position-fixed start-50 bottom-0 translate-middle-x w-100 zi-99 mb-3" style="max-width: 40rem;">
			<!-- Card -->
			<div class="card card-sm bg-dark border-dark mx-2">
				<div class="card-body">
					<div class="row justify-content-center justify-content-sm-between">
						<div class="col" style=" display: flex; align-items: center;">
							<input type="submit" value="Delete" class="btn btn-danger text-white" onclick="return confirmDelete()" />
						</div>
						<!-- End Col -->

						<div class="col-auto">
							<div class="d-flex gap-3">


								<button type="button" class="btn btn-ghost-light" style="color:#fff">  @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-ghost-light text-white" })</button>

							</div>
						</div>
						<!-- End Col -->
					</div>
					<!-- End Row -->
				</div>
			</div>
			<!-- End Card -->
		</div>


	}
</div>
<script type="text/javascript">
function confirmDelete() {
        return confirm("Bạn có chắc chắn muốn xóa không?");
    }</script>