﻿@{
	ViewBag.Title = "Home Page";
}
<link href="~/Content/dashboard.css" rel="stylesheet" />
<div>
	<div class="statistics">
		<!-- Total visitors -->
		<div class="thongke">
			<div class="row1">
				<div id="icondb">
					<img src="~/Content/images/icon_totalvistitors.png" />
				</div>
				@*<div id="time">This week</div>*@
			</div>
			<div class="soluong">@ViewBag.TotalVisitors</div>
			<div class="ten">Total visitors</div>
		</div>
		<!-- New members -->
		<div class="thongke">
			<div class="row1">
				<div id="icondb">
					<img src="~/Content/images/icon_newmembers.png" />
				</div>
				@*<div id="time">This week</div>*@
			</div>
			<div class="soluong">@ViewBag.NewMembers</div>
			<div class="ten">New members</div>
		</div>
		<!-- Borrowed books -->
		<div class="thongke">
			<div class="row1">
				<div id="icondb">
					<img src="~/Content/images/icon_borrowedbook.png" />
				</div>
				@*<div id="time">This week</div>*@
			</div>
			<div class="soluong">@ViewBag.BorrowedBooks</div>
			<div class="ten">Borrowed Books</div>
		</div>
		<!-- Overdue books -->
		<div class="thongke">
			<div class="row1">
				<div id="icondb">
					<img src="~/Content/images/icon_overdoebooks.png" />
				</div>
				@*<div id="time">This week</div>*@
			</div>
			<div class="soluong">@ViewBag.OverdueBooks</div>
			<div class="ten">Overdue Books</div>
		</div>
		<div class="thongke">
			<div class="row1">
				<div id="icondb">
					<img src="~/Content/images/icon_totalrevenue.png" />
				</div>
				@*<div id="time">This week</div>*@
			</div>
			<div class="soluong">@ViewBag.TotalRevenue</div>
			<div class="ten">Total Revenue</div>
		</div>
	</div>

	<div class="list-container">
		<!-- Member list -->
		<div class="list-section">
			<div class="list-header">
				<span>Member list</span>
				<a href="#">View all</a>
			</div>
			<table>
				<thead>
					<tr>
						<th>MEMBER NAME</th>
						<th>PHONE</th>
						<th>EMAIL</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var member in ViewBag.Members)
					{
						<tr>
							<td>@member.Name</td>
							<td>@member.Phone</td>
							<td>@member.Email</td>
						</tr>
					}
				</tbody>
			</table>
		</div>

		<!-- List of books -->
		<div class="list-section">
			<div class="list-header">
				<span>List of books</span>
				<a href="#">View all</a>
			</div>
			<table>
				<thead>
					<tr>
						<th>BOOK NAME</th>
						<th>BOOK CODE</th>
						<th>BOOK STATUS</th>
						<th>ACTION</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var book in ViewBag.Books)
					{
						<tr>
							<td>@book.Title</td>
							<td>@book.Bookcode</td>
							<td>@book.BookStatus</td>
							<td>...</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>

	<!-- Trending books -->
	<!--<div class="trending-books">
		<div class="list-header">
			<span>Trending Books</span>
			<a href="#">View all</a>
		</div>
		<div class="book-list">
	@*	@foreach (var book in ViewBag.TrendingBooks)
			{
				<img src="@Url.Content("~/Content/images/" + book.IMG)" alt="@book.Bookcode" />
			}*@
		</div>
	</div>-->
</div>